.box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  font-weight: 700;
}

.h2 {
  color: #767676;
  font-weight: 300;
}

.background {
  background-color: #ffcab5;
  z-index: -1;
}

/* web */
@media (min-width: 751px) {
  .box1 {
    padding-top: 20vw;
  }

  .h1 {
    font-size: 2.625vw;
    margin-bottom: 1.875vw;
  }

  .h2 {
    font-size: 1.5vw;
    margin-bottom: 13vw;
  }

  .phone {
    width: 25vw;
  }

  .background {
    width: 100vw;
    height: 32vw;
    margin-top: -24vw;
  }
}

/* mobile */
@media (max-width: 750px) {
  .box1 {
    padding-top: 37.5vw;
  }

  .h1 {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .h2 {
    font-size: 3.5vw;
    margin-bottom: 28vw;
  }

  .phone {
    width: 45vw;
  }

  .background {
    width: 100vw;
    height: 60vw;
    margin-top: -40vw;
  }
}