.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 350px;
  border: solid 1px #9a9a9a;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.div {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}

.img {
  width: 20px;
  margin-left: 10px;
}

.input {
  margin-left: 10px;
  width: 100%;
  border: 0px;
  padding: 0px;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

#submit {
  border-radius: 10px;
  width: 80%;
  height: 50px;
  background-color: #f8b195;
  color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
}

#submit:hover {
  background-color: #f58e65;
}

.move {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.move a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 15px;
}

.find a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #d9d9d9;
}

.find a:last-child {
  border: 0;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    margin-top: 100px;
  }

  .logo {
    width: 80px;
    margin-bottom: 30px;
  }

  .login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 80vw;
    border: solid 1px #9a9a9a;
    border-radius: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .div {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
  }

  .img {
    width: 20px;
    margin-left: 10px;
  }

  .input {
    margin-left: 10px;
    width: 100%;
    border: 0px;
    padding: 0px;
    font-size: 18px;
  }

  .input:focus {
    outline: none;
  }

  #submit {
    border-radius: 10px;
    width: 80%;
    height: 50px;
    background-color: #f8b195;
    color: white;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
  }

  #submit:hover {
    background-color: #f58e65;
  }

  .move {
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .move a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
  }

  .find a {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #d9d9d9;
  }

  .find a:last-child {
    border: 0;
  }
}
