.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.logo {
  width: 150px;
  z-index: 1;
  position: relative;
  top: 100px;
}

.login {
  margin-top: 70px;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 630px;
  border: solid 1px #729696;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9d9d9;
  border-bottom: none;
}

.div:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.div:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 2px solid #d9d9d9;
}

.check_wrap {
  width: 500px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.input {
  margin-left: 10px;
  width: 80%;
  border: 0px;
  padding: 0px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

#check_btn {
  display: none;
}

#check_btn + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  span {
    padding-left: 5px;
  }
}

#check_btn + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(114, 105, 105, 1);
  border-radius: 50%;
  vertical-align: middle;
}

#check_btn:checked + label:before {
  content: "";
  background-image: url("../../../public/img/join/check.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.move {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
  }
}

.find a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #d9d9d9;
}

.find a:first-child {
  padding-left: 0;
}

.find a:last-child {
  border: 0;
}

@media (max-width: 800px) {
  .logo {
    width: 120px;
    top: 10vh;
  }

  .login {
    margin-top: 6vh;
    padding-top: 8vh;
    padding-bottom: 8vw;

    flex-wrap: wrap;
    width: 100vw;
    border: none;
    border-radius: 10px;
  }

  .div {
    width: 90vw;
    height: 54px;
    border: 1px solid #d9d9d9;
    border-bottom: none;
  }

  .div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #d9d9d9;
  }

  .check_wrap {
    width: 90vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
  }

  .input {
    margin-left: 1vw;
    width: 80%;
    border: 0vw;
    padding: 0vw;
    font-size: 15px;
  }

  #check_btn + label {
    span {
      padding-left: 1vw;
    }
  }

  #check_btn + label::before {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(114, 105, 105, 1);
    border-radius: 50%;
  }

  .move {
    margin-top: 1vh;
    width: 90vw;
    a {
      font-size: 14px;
    }
  }

  .find a {
    padding-right: 2vw;
    padding-left: 2vw;
    border-right: 1px solid #d9d9d9;
  }

  .find a:first-child {
    padding-left: 0;
  }

  .find a:last-child {
    border: 0;
  }
}
