.h1 {
  font-weight: 700;
}

.h2 {
  color: #767676;
  font-weight: 300;
}

.box2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space {
  width: 100%;
}

.qrcode {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* web */
@media (min-width: 751px) {
  .h1 {
    font-size: 2.625vw;
    margin-bottom: 1.875vw;
  }

  .h2 {
    font-size: 1.5vw;
    margin-bottom: 8vw;
  }

  .qrSpace {
    width: 4.25vw;
  }

  .qrPhone,
  .recycleBin {
    width: 15vw;
  }

  .arrow {
    width: 5.375vw;
  }
}

/* mobile */
@media (max-width: 750px) {
  .h1 {
    font-size: 6.5vw;
    margin-bottom: 3.75vw;
  }

  .h2 {
    font-size: 4vw;
    margin-bottom: 22.5vw;
  }

  .qrSpace {
    width: 7vw;
  }

  .qrPhone,
  .recycleBin {
    width: 30vw;
  }

  .arrow {
    width: 15vw;
  }
}
