.h1 {
  font-weight: 400;
}

.box6 {
  height: 100vh;
}

@media (min-width: 750px) {
  .h1 {
    font-size: 2.625vw;
    margin-bottom: 2.5vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box6 {
    width: 100%;
    height: 102.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .earth {
    width: 25vw;
    margin-bottom: 3vw;
  }

  .hand {
    width: 22.5vw;
  }
}

@media (max-width: 750px) {
  .h1 {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .text,
  .box6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box6 {
    width: 100%;
    justify-content: space-evenly;
  }

  .img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vw;
  }

  .earth,
  .hand {
    width: 50vw;
  }

  .hand {
    width: 45vw;
  }
}
