.h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.box3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffe8df;
  height: 2050px;
}

.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 470px;
  background-color: #ffffff;
  border: 10px solid #f8b195;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
  border-radius: 108px;
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 200px;
  position: relative;
}

.point h2 {
  font-size: 40px;
  margin-left: 20px;
}

.wallet_div {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 100px;
}

.point h1 {
  font-size: 100px;
}

.wallet {
  width: auto;
}

.cash {
  position: absolute;
  left: 792px;
  top: 186px;
}

.coin {
  position: absolute;
  left: -370px;
  bottom: 38px;
}

.bill {
  position: absolute;
  right: 707px;
  bottom: 486px;
}

@media (max-width: 2000px) {
  .h1 {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }

  .h2 {
    font-size: 2vw;
  }

  .box3 {
    height: 102.5vw;
  }

  .point {
    width: 25vw;
    height: 23.5vw;
    box-shadow: 1vw 1vw 0.5vw rgba(0, 0, 0, 0.25);
    border: 0.5vw solid #f8b195;
    border-radius: 5.4vw;
    padding-top: 7.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    margin-top: 10vw;
  }

  .point h2 {
    font-size: 2vw;
    margin-left: 1vw;
  }

  .wallet_div {
    width: 30vw;
    padding-bottom: 5vw;
  }

  .point h1 {
    font-size: 5vw;
  }

  .wallet {
    width: 5vw;
  }

  .cash {
    left: 39.6vw;
    top: 9.3vw;
    width: 7.5vw;
  }

  .coin {
    left: -18.5vw;
    bottom: 1.9vw;
    width: 7.5vw;
  }

  .bill {
    right: 35.35vw;
    bottom: 24.3vw;
    width: 12.1vw;
  }
}
