.h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.box2 {
  padding-top: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space {
  width: 100%;
  height: 300px;
}

.qrcode {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.qrSpace {
  width: 170px;
}

.qrPhone {
  width: auto;
}
.arrow {
  width: auto;
}
.recycleBin {
  width: auto;
}

@media (max-width: 2000px) {
  .h1 {
    font-size: 3.5vw;
    margin-bottom: 2.5vw;
  }

  .h2 {
    font-size: 2vw;
  }

  .box2 {
    padding-top: 15vw;
  }

  .space {
    height: 15vw;
  }

  .qrSpace {
    width: 8.5vw;
  }

  .qrPhone {
    width: 23vw;
  }

  .arrow {
    width: 10.75vw;
  }

  .recycleBin {
    width: 20vw;
  }
}
