.h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2000px;
}

.space {
  height: 300px;
}

.qrcode {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.qrSpace {
  width: 200px;
}
