.h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 500px;
}

.space {
  height: 300px;
}

.background {
  width: 100vw;
  height: 680px;
  background-color: #ffcab5;
  margin-top: -500px;
  z-index: -1;
}
