.box5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff9f6;
}

.h1 {
  font-weight: 400;
}

.h2 {
  color: #726969;
  font-weight: 300;
}

.map_box {
  position: relative;
}

.map_detail {
  position: absolute;
}

@media (min-width: 750px) {
  .h1 {
    font-size: 2.625vw;
    margin-bottom: 2.1vw;
  }

  .h2 {
    font-size: 1.5vw;
    margin-bottom: 8vw;
  }

  .map {
    width: 30.5vw;
    height: 19.5vw;
    border: 0.175vw solid #ffcab5;
  }

  .map_img {
    width: 30.5vw;
    height: 19.5vw;
  }

  .map_detail {
    width: 13.95vw;
    top: -5vw;
    left: 22.5vw;
  }
}

@media (max-width: 750px) {
  .box5 {
    height: 205vw;
  }

  .h1 {
    font-size: 6vw;
    margin-bottom: 8.4vw;
  }

  .h2 {
    font-size: 4vw;
    margin-bottom: 25vw;
  }

  .map {
    width: 80vw;
    height: 51.15vw;
    border: 0.7vw solid #ffcab5;
  }

  .map_detail {
    width: 55.8vw;
    top: -20vw;
    left: 90vw;
  }
}
