.h1 {
  font-size: 70px;
  margin-bottom: 76px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.box4 {
  width: 100%;
  height: 1810px;
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  margin-top: 390px;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  margin-left: 130px;
  margin-top: 190px;
}

.info li {
  display: flex;
}

.info h3 {
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
}

.aily {
  width: 1160px;
  height: 930px;
  background-color: #f0f0f0;
  border-radius: 88px 0 0 88px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.aily h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 80px;
  margin-left: 120px;
}

.aily h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
  margin-left: 120px;
}

.type {
  display: flex;
  justify-content: space-between;
  width: 910px;
  margin-top: 185px;
  margin-left: 170px;
}

.normal {
  display: flex;
  justify-content: center;
  position: relative;
  width: 188px;
  height: 384px;
  background: linear-gradient(180deg, rgba(246, 246, 246, 0) 0%, #edcfc3 70%);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.can {
  display: flex;
  justify-content: center;
  position: relative;
  width: 188px;
  height: 384px;
  background: linear-gradient(180deg, #ffe8df 0%, #ffc7b0 51.04%);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.plastic {
  display: flex;
  justify-content: center;
  position: relative;
  width: 188px;
  height: 384px;
  background: linear-gradient(
    180deg,
    rgba(246, 246, 246, 0) 0%,
    #edcfc3 88.02%
  );
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.normal img,
.can img,
.plastic img {
  width: 188px;
  position: absolute;
}

.normal img {
  top: 192px;
}

.can img {
  top: 60px;
}

.plastic img {
  top: 240px;
}
.h5 {
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  bottom: 410px;
}

.h6 {
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  bottom: 50px;
  left: 30px;
}

/* media query */
@media (max-width: 2000px) {
  .h1 {
    font-size: 3.5vw;
    margin-bottom: 3.8vw;
  }

  .h2 {
    font-size: 2vw;
  }

  .box4 {
    width: 100%;
    height: 90.5vw;
    margin-top: 11vw;
  }

  .content {
    margin-top: 19.5vw;
  }

  .info {
    flex-direction: column;
    height: 12vw;
    margin-left: 6.5vw;
    margin-top: 9.5vw;
  }

  .info img {
    width: 1.5vw;
  }

  .info h3 {
    font-size: 2vw;
    margin-left: 1vw;
  }

  .aily {
    width: 58vw;
    height: 46.5vw;
    border-radius: 4.4vw 0 0 4.4vw;
    box-shadow: 0vw 0.5vw 0.2vw rgba(0, 0, 0, 0.25);
  }

  .aily h1 {
    font-size: 3vw;
    margin-top: 4vw;
    margin-left: 6vw;
  }

  .aily h3 {
    font-size: 2vw;
    margin-top: 2.5vw;
    margin-left: 6vw;
  }

  .type {
    width: 45.5vw;
    margin-top: 9.25vw;
    margin-left: 8.5vw;
  }

  .normal {
    width: 9.4vw;
    height: 19.2vw;
    box-shadow: 0vw 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
  }

  .can {
    width: 9.4vw;
    height: 19.2vw;
    box-shadow: 0vw 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
  }

  .plastic {
    width: 9.4vw;
    height: 19.2vw;
    box-shadow: 0vw 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
  }

  .normal img,
  .can img,
  .plastic img {
    width: 9.4vw;
  }

  .normal img {
    top: 9.6vw;
  }

  .can img {
    top: 3vw;
  }

  .plastic img {
    top: 12vw;
  }
  .h5 {
    font-size: 2vw;
    bottom: 20.5vw;
  }

  .h6 {
    font-size: 1.5vw;
    bottom: 2.5vw;
    left: 1.5vw;
  }
}
