.box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 500px;
}

.h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

.h2 {
  font-size: 40px;
  color: #726969;
}

.space {
  height: 300px;
  height: 7vw;
}

.background {
  width: 100vw;
  height: 680px;
  background-color: #ffcab5;
  margin-top: -500px;
  z-index: -1;
}

@media (max-width: 2000px) {
  .box1 {
    padding-top: 25vw;
  }

  .h1 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }

  .h2 {
    font-size: 2vw;
  }

  .space {
    height: 12vw;
  }

  .phone {
    width: 27vw;
  }

  .background {
    height: 30vw;
    margin-top: -25vw;
  }
}
