.div {
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
  margin-bottom: 50px;
}

.logo {
  width: 40px;
}

.text {
  font-weight: 300;
  font-size: 15px;
  margin-left: 20px;
  color: #d0d0d0;
}
