.submit {
  border-radius: 10px;
  width: 500px;
  height: 54px;
  background-color: #f8b195;
  color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 600;
}

.submit:hover {
  background-color: #f58e65;
  cursor: pointer;
}

@media (max-width: 800px) {
  .submit {
    width: 90vw;
    height: 54px;
    font-size: 18px;
  }
}
