.board_img {
  width: 100%;
}
.board {
  display: flex;
  margin-top: 300px;
  margin-left: 20px;
  padding: 0 20% 0 20%;
}

.menu a {
  width: 80px;
  height: 50px;
  margin-right: 10px;
  color: black;
  font-family: "Inter";
  font-weight: 400;
  background-color: #f0f0f0;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:last-child {
  margin-right: -10px;
}

.menu a:hover,
.menu a.active,
.menu a:active {
  color: black;
  font-family: "Inter";
  background-color: #ffe8df;
}
