.head_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.head {
  height: 100px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
}

.head a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head_logo p {
  display: flex;
  justify-content: center;
  width: 150px;
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-size: 40px;
  color: #f8b195;
}

.head_logo p:first-child {
  font-size: 15px;
}

.head_menu {
  display: flex;
  align-items: center;
  width: 700px;
  height: 100px;
}

.menu {
  width: 175px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.menu a,
.menu a:link,
.menu a:visited,
.menu a:hover {
  text-decoration: none;
  color: black;
}

.menu a:hover,
.menu a:active,
.menu a.active {
  background-color: #f8b195;
  color: white;
}

/* width <= 1000 */
.head_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
}

.head_logo_s {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_logo_s a {
  text-decoration: none;
}

.head_logo_s p {
  display: flex;
  justify-content: center;
  width: 70px;
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-size: 30px;
  color: #f8b195;
}

.head_logo_s p:first-child {
  font-size: 10px;
}

.head_mobile img {
  margin-right: 15px;
}

.mobile_box {
  position: fixed;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f8b195;
  right: 0px;
  z-index: 10;
}

.head_wrap_mobile {
  display: flex;
  overflow-x: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.head_menu_mobile {
  display: flex;
  flex-direction: column;
}

.menu_mobile {
  height: 50px;
  margin: 10px 20px 10px 20px;
}

.menu_mobile a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.close {
  width: 25px;
  position: absolute;
  right: 15px;
  top: 16px;
}
