.password {
  display: flex;
  width: 450px;
  height: 47px;
  border-top: #d9d9d9 solid 2px;
  border-left: 0px;
  border-bottom: #d9d9d9 solid 2px;
  border-right: #d9d9d9 solid 2px;
  padding: 0;
  font-size: 15px;
}

.input {
  width: 400px;
  height: 47px;
  border: 0px;
  padding: 0;
  padding-left: 5px;
  margin-right: 10px;
  font-size: 15px;
}

.input::placeholder {
  color: #9a9a9a;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
}
