/* * {
  font-family: "Noto Sans KR", sans-serif;
  font: unset;
} */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --font-size-lg: 5vw;
  --font-size-md: 4vw;
  --font-size-sm: 3vw;
}
